node_modules/
.env
npm-debug.log*
.DS_Store
.claude
hrv_hub/
# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

hrv_hub
